[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
django = "==4.2.11"
djangorestframework = "*"
psycopg2-binary = "*"
python-dotenv = "*"
black = "<25,>=24.0"
flake8 = "==7.0"
pytest = "==8.0"
django-allauth = "*"
dj_rest_auth = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
